.export-db{
	 position: absolute;
    top: 0;
    right: 40px;
    background: #26004d;
    padding: 10px;
}
.export-db__link{
	color: #fff;
}
.list {
      background-color: #26004d;
      border-radius: 3px;
      margin: 5px 5px;
      padding: 10px;
      width: 100%;
    }
.list__drag-area{
     min-height: 10px;  
    }

.list>header {
      font-weight: bold;
      color: white;
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      cursor: grab;
    }
.list article {
      border-radius: 3px;
      margin-top: 10px;
    }

.list__drag-area__card {
      background-color: #FFF;
      border-bottom: 1px solid #CCC;
      padding: 15px 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bolder;
    }
.list__drag-area__card:hover {
      background-color: #F0F0F0;
    }
.add-new-task{
    margin-top: 10px;
}

.add-new-task__input{
    width: 80%;
    height: 35px;
}

.add-new-task__input__link{
    color: #fff;
    border: 1px solid;
    padding: 8px 4px;
}

.dragable{
	overflow-x: auto;
    white-space: nowrap;
}
.dragable__scroll{
	display: inline-block !important;
    float: none !important;
    vertical-align: top;
}
.card-modal-container{
    padding: 10px;
}
.card-modal-container__input{
    width: 97.5%;
    height: 35px;
}
.card-modal-container__description{
    padding: 10px;
}
.vm--modal{
    height: fit-content !important;
}